# Build Folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Visual Studio Code
.vscode/

# Packages
*.nupkg
*.snupkg
*.nuget/

# Logs
*.log

# ASP.NET Core
wwwroot/lib/

# Entity Framework Core Migrations
Migrations/

# Secrets
appsettings.*.json
